<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>16/11/03 17:09:36</td>   <td>0</td> <td title="&gt;&gt;BNIAAst.completeReport()[pri:0, instance:barnesInstore.BNIAAst@57fffcd7]">&gt;&gt;completeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/11/03 17:09:37</td>   <td>114</td> <td>&nbsp;</td><td title="&gt;&gt;BNIAAst.beforeMethod()[pri:0, instance:barnesInstore.BNIAAst@57fffcd7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/11/03 17:09:41</td>   <td>4800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNIAAst.BNIA_Menu_Category()[pri:0, instance:barnesInstore.BNIAAst@57fffcd7]">BNIA_Menu_Category</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/11/03 17:10:33</td>   <td>56806</td> <td>&nbsp;</td><td title="&lt;&lt;BNIAAst.afterMethod()[pri:0, instance:barnesInstore.BNIAAst@57fffcd7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>16/11/03 17:10:33</td>   <td>56955</td> <td title="&lt;&lt;BNIAAst.closeReporter()[pri:0, instance:barnesInstore.BNIAAst@57fffcd7]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
</table>
