<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BNTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5f779">  <td>16/11/10 13:08:06</td>   <td>0</td> <td title="&gt;&gt;BNIAAst.completeReport()[pri:0, instance:barnesInstore.BNIAAst@3cb5cdba]">&gt;&gt;completeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>16/11/10 13:08:06</td>   <td>96</td> <td title="&gt;&gt;BNIAKiosk.completeReport()[pri:0, instance:barnesInstore.BNIAKiosk@56cbfb61]">&gt;&gt;completeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="f5f779">  <td>16/11/10 13:08:06</td>   <td>98</td> <td>&nbsp;</td><td title="&gt;&gt;BNIAAst.beforeMethod()[pri:0, instance:barnesInstore.BNIAAst@3cb5cdba]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>16/11/10 13:08:10</td>   <td>4649</td> <td>&nbsp;</td><td title="&gt;&gt;BNIAKiosk.beforeMethod()[pri:0, instance:barnesInstore.BNIAKiosk@56cbfb61]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>16/11/10 13:08:14</td>   <td>8520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNIAKiosk.BNIA_Menu_Category()[pri:0, instance:barnesInstore.BNIAKiosk@56cbfb61]">BNIA_Menu_Category</td> 
  <td>pool-1-thread-2@438185080</td>   <td></td> </tr>
<tr bgcolor="f5f779">  <td>16/11/10 13:08:14</td>   <td>8520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BNIAAst.BNIA_Menu_Category()[pri:0, instance:barnesInstore.BNIAAst@3cb5cdba]">BNIA_Menu_Category</td> 
  <td>pool-1-thread-1@962046928</td>   <td></td> </tr>
<tr bgcolor="f5f779">  <td>16/11/10 13:08:26</td>   <td>20970</td> <td>&nbsp;</td><td title="&lt;&lt;BNIAAst.afterMethod()[pri:0, instance:barnesInstore.BNIAAst@3cb5cdba]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>16/11/10 13:08:29</td>   <td>23291</td> <td>&nbsp;</td><td title="&lt;&lt;BNIAKiosk.afterMethod()[pri:0, instance:barnesInstore.BNIAKiosk@56cbfb61]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="f5f779">  <td>16/11/10 13:08:29</td>   <td>23453</td> <td title="&lt;&lt;BNIAAst.closeReporter()[pri:0, instance:barnesInstore.BNIAAst@3cb5cdba]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
<tr bgcolor="8c82f3">  <td>16/11/10 13:08:29</td>   <td>23730</td> <td title="&lt;&lt;BNIAKiosk.closeReporter()[pri:0, instance:barnesInstore.BNIAKiosk@56cbfb61]">&lt;&lt;closeReporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1854778591</td>   <td></td> </tr>
</table>
